
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

body{
    box-sizing: border-box;
    display: grid;
    /*grid-template: 40px 40px 40px 40px / 40px 40px 40px 40px ;
   background-color: lightblue; */
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#icon {
    width: 30px;
    height: 30px;
}

.section {
    border: 1px solid;
}

#sidebar {
    grid-area: 1 / 1 / 5 / 2;
    display: grid;
    background-color: #ecfccb;
    /*grid-template-rows: repeat(4, 1fr);
    grid-template-rows: 0.5fr 1f 1fr 2fr;*/
    grid-template-rows:100px 200px 200px 100px;
    overflow: auto;
}

.selections1 {
    margin-top: 50px;
    display: grid;
}

.selections2 {
    margin-top: 50px;

    display: grid;
}

.option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    gap: 10px;
    cursor: pointer;
}

.option:hover {
    text-decoration: underline;
}

.logo {
    height: 100px;
    margin-left: 15px;
    text-align: left;
}
  
/*.home {
    background: url("images/home-account.png") no-repeat;
 }*/

#top {
    grid-area: 1 / 2 / 2 / 5;
}

#main {
    grid-area: 2 / 2 / 5 / 5;
}
